html,body{
  height:100;
  width:100%;
  margin:0;
  padding:0;
}
body{
  background-image: url(zbg.jpg)
}
/* c1 - c6 = bg of Fb
   f1 - f6 = fb icons
*/
#f1,#f2,#f3,#f4,#f5,#f6{
  height:50px;
  width:50px;
}
#t_s{
  color:white;
}
#t_d{
  color:white;
}